@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* primary color */
  --p-color: #6D9F71;
}

/* classname for primary colored text */
.clr-p {
  color: var(--p-color);
}

/* classname for primary colored background */
.bg-clr-p {
  background-color: var(--p-color);
}